/* GLOBAL STYLES */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    overflow-y: hidden;
}

body {
    font-family: sans-serif;
    background-color: #f7f2f2;
 /*   background-image: url('img/background_02.jpg');*/
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    display: block;
    color: #111111;
    letter-spacing: 1px;
}

.top-bar-wrapper {
    display: grid;
    grid-template-columns: 1fr 640px 1fr;
    align-items: center;
    justify-items: center;
    height: 50px;
    background-color: #53575c;
    box-shadow: 2px 2px 1px rgba(46, 46, 46, 0.6);
    position: relative;
    z-index: 2;
}

.menu-bar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    width: 640px;
    height:50px;
    margin: auto;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
}

.menu-bar li {
    height: 50px;
    padding-top: 10px;
}

.menu-bar li a {
    color: #e2e1f0;
}

/* MAIN MENU MEN */

.main-menu-men {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1rem;
    width: 868px;
    margin: auto;
    padding: 20px 0;
    background-color: #fffefe;
    min-height: calc(100vh - 120px);
    border: 1px solid #dbd9d9;
}