<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Регистрация</title>
      
   </head>
   <body>
     <div th:utext="${message}"></div>
      <a href="http://localhost:8080/webapp/mainProc">Главная</a>
<a href="">Плагины</a>
<form th:action="@{registration}"
         th:object="${personForm}" method="POST">
         Логин:
         <input type="text" th:field="*{login}" />    
         <br/>
         Пароль:
         <input type="text" th:field="*{password}" />     
         <br/>
         <input type="submit" value="login" />
      </form>
       
      <br/>
      
   </body>
</html>